# Compiled Python files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
*.code-workspace

# Python egg metadata
*.egg-info/

# Distribution / packaging
dist/
build/
*.egg

# Local development
venv/

# Other
*.log
.DS_Store
