name: Python linting

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install black isort bandit

    - name: Run Black lint
      run: |
        python -m black --check --exclude=__pycache__ .

    - name: Run isort lint
      run: |
        python -m isort --check-only --skip=__pycache__ .
        python -m isort --atomic --apply --skip=__pycache__ .

    - name: Run Bandit lint
      run: |
        python -m bandit -r .
